h4 {
    font-size: 25px;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100% !important;
}

.buttoncss {
    text-align: end;
}

.heading {
    color: black !important;
    font-size: 15px;
}